@{
    ViewBag.Title = "Home Page";
}

<hr />
<div class="text-center">
    @Html.ActionLink("Product List", "Index", "Product")
</div>
<br />
<div class="text-center">
    @Html.ActionLink("Category List", "Index", "Category")
</div>